
body {
    background-color: #ededed;
}
h2 {
  color: blue;
}
h3,
h4 {
  color: red;
}
h5 {
    background-color: rgb(89, 158, 220);
}

button {
  background-color: magenta;
  color: tomato;
}

p {
  background-color: aquamarine;
}

ul {
  color: rgb(125, 100, 90)
}

li {
  background-color: #fdf
  
}
