body {
  background-color: #f1faee;
}

button {
    font-size: 18px;
    background-color: #a8dadc;
}

h1, h2 {
    color: #1d3557;
}

#signup {
  background-color: #1d3557;
  color: #f1faee;
}

span {
    color: #457b8d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 14px;
}

.post a {
    color: #457b8d;
}

footer a {
    color: #e63946;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-decoration: none;
    
}

h1 + p {
    background-color: #a8dadc;
    color: black;
}